* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22343D;
}