.footer {
  padding-bottom: 147px;
}

.footer__list {
  display: flex; 
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.footer__p-text {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343D;
}

.footer__item:nth-child(4) {
  max-width: 325px;
  width: 100%;
}

.footer__social {
  display: flex;
  padding-left: 0;
  margin: 0;
  padding-left: 20px;
  list-style: none;
}

.footer__logo-img{
  margin-bottom: 28px;
}

.social__item {
  margin: 0 10px;
}

.footer__sub-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.res__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #22343D;
  text-decoration: none;
}

.sub__list-input {
  width: 100%;
}

.sub__list-input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 28px;
  outline: none;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}

.sub__list-link {
  padding: 8px 15px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #02897A;
  border: 1px solid #02897A;
  border-radius: 4px;
  cursor: pointer;
}


@media only screen and (max-width: 426px) {
  .footer__list {
    flex-direction: column;
    text-align: center;
  }

  .footer__social {
    justify-content: center;
    padding-left: 0;
  }

  .footer__item {
    margin-bottom: 32px;
  }

}